.categoriesWrap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;
    padding: 2em;
}
.categoryImg{
    width: 100%;
    object-fit: contain;
   
}
@media(max-width: 400px){
    .categoriesWrap{
        grid-template-columns: repeat(2,1fr);
    }
}