.productKard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}
.productKard .productImg{
    height: 25em;
    object-fit: contain ;
    border-radius: 5px;
}
.priceContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.discountPrice{
    font-size: 2.5em;
    font-weight: 600;
}
.price{
    font-weight: 500;
    font-size: 1.67rem;
    text-decoration: line-through;
    color:#8B8B8B;
}
.discount{
    font-weight: 600;
    font-size: 1.67rem;
    color: #FF32A1;
}
.productTitle{
    font-weight: 500;
    font-size: 1.33rem;
    text-align: center;
}
