

.discountWrapper{
    padding: 2em;
    background-image:url('../../asets/images/Rectangle2048.svg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin: 3em 0;
}
.inputWrap{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1em;
    padding: 2em;
    width: 50%;
}
.discountImgWrap{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dicountTitle{
    font-size: 7.5em;
}
.discountCondition{
    font-size: 4em;
}
.getDiscount{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.getDiscount:hover{
    background-color: white;
}
.phoneInput:hover{
    background-color: white;
}
.phoneInput:focus{
    background-color: white;
}