.productsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;
    padding: 2em;
}

.productKard .productImg{
    width: 100%;
}
@media (max-width: 400px){
    .productsContainer{
        grid-template-columns: repeat(2,1fr);
    }
}