.productContainer{
    display:flex ;

}
.productImgContainer{
   min-width: 60%;
}
.productimg{
    width: 100%;
    
}
.productInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}
.pricesContainer{
    display: flex;
    justify-content: space-between;
}
.detailTitle{
    margin-left: 1em;
}