.welcomeWrap{
    background-color: #A1E2EB;
    display: flex;
    color: white;
}
.welcomeInfoContainer{
   width: 55%;
   padding: 3em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1em;
}
.bannerImg{
    width: 45%;
}
.welcomeTitle{
    font-size: 5.833em;
    font-weight: 700;
}
.welkomeInfo{
    font-size: 5.250em;
    font-weight: 700;
    
}
.saleButton{
    border: none;
    border-radius: 13px;
    padding: 1em 1em;
    width: 5em;
    font-size: 2em;
    cursor: pointer;
}
